#octopus {
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	/*display: block;*/
	margin: auto;
	z-index: -2;

}

#hat {
	position: absolute;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	padding-left: 20px;
	z-index: 0;
}

#glasses {
	position: absolute;
	left: 0;
	right: 0;
	top: 175px;
	padding-left: 7px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;
}