#octopus {
	position: absolute;
	left: 0;
	right: 0;
	top: 75px;
	/*display: block;*/
	margin: auto;
	z-index: -2;

}

#hat {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#glasses {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.centerbox {
	width: 100%;
	border-color: red;
	margin-left: auto;
	margin-right: auto;
}